        *,
*::before,
*::after {
  box-sizing: border-box;
}

        :root {
            --primary-color: #2c3e50;
            --accent-color: #b2b4a0;
        }

        .image-forest img,
        .image-macbook img {
            width: 20%;
            height: 20%;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            border-radius: 16px;
        }

        html, body {
            margin: 0;
            height: 100vh;
            width: 100vw;
            padding: 0;
            background: linear-gradient(135deg, #6b6c5c, #565443, #464531);
            color: #f0f0f0;
            font-family: 'Carrois Gothic', sans-serif;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .carrois-gothic-regular {
            font-family: "Carrois Gothic", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        footer {
            background-color: #444d313d;
            color: white;
            text-align: left;
            margin-bottom: 40px;
            border-radius: 16px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
            padding: 1em;
        }
        .flex-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 20px;
        }
        .grid-container {
            display: grid;
            grid-template-areas:
                "header header header"
                "nav main sidebar"
                "footer footer footer";
            grid-template-columns: 200px 1fr 200px;
            grid-template-rows: auto 1fr auto;
}

            header { grid-area: header; }
            nav { grid-area: nav; }
            main { grid-area: main; }
            aside { grid-area: sidebar; }
            footer { grid-area: footer; }
        
        .box {
            background-color: rgba(0, 0, 0, 0.2);
            padding: 20px;
            border-radius: 16px;
            min-height: 60vh;
            width: 40%;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
            margin-bottom: 90px;
            color: white;
            font-size: 100%;
        }

        .box.left {
            margin-left: 1%;
            margin-right: 0%;
            margin-top: 0%;
            margin-bottom: 0%;
        }

        .box.center {
            margin-left: 0%;
            margin-right: 0%;
            margin-top: 0%;
            margin-bottom: 20%;
        }

        .box.right {
            margin-left: 30%;
            margin-right: 30%;
            margin-top: -60%;
            margin-bottom: 40%;
        }

        .box.left { /* Jadyn Thiesen */
            
        }

        .box.right { /* Contact */
            
        }

        .box.center { /* Projects */
            
        }
